.main-content {
  flex: 1;
  padding: 1rem;
  padding-left: calc(250px + 1rem);
  box-sizing: border-box;
  width: 100%;
  display: grid;
}

.main-screen {
  display: flex;
  grid-template-columns: 300px 1fr;
  width: 100vw;
  min-height: 100vh;
}
